body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: rgb(215, 10, 10);
}

.paragraph {
    font-size: 20px;
    color: aliceblue;
    margin-top: 25px;


 }
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

h1 {
    color: #333;
}

p {
    color: #666;
}
.overlay {

    position: relative;
    
    top: 0;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    margin-top: 20px; 
    }

    .transparent-box {
        min-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.777); 
        border-radius: 10px; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 

    }
    
    .my-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #01010178; 
        color: white;
        border: none;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
        transition: transform 0.2s, box-shadow 0.2s; 
        margin-top: 40px;
    }

    .my-button:hover {
        transform: translateY(-2px); 
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); 
    }

  