body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    background-image: url('../../anime/bto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .overlay {

    position: relative;
    
    top: 0;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    margin-top: 20px; 
}

.container {
    min-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.image {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: white;
}

iframe {
    width: 100%;
    height: 400px;
    border: none;
}